/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 13
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,400);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Raleway', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* Bootstrap Modification */

.navbar-inverse {
	background: transparent;
	border: transparent;
}

img {
	padding-bottom: 10px;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}

.btn-white:hover {
	background: #2f2f2f;
	color: white;
}

/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 10px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-weight: 900;
	font-size: 60px;
	letter-spacing: 20px;
}

#h h4{
	color: #94b8b8;
	font-size: 20px;
	letter-spacing: 10px;
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h img {
	padding-bottom: 0px;
}

/* White Section */
#w {
	background: #666699;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #d9e6f2;
	border-top: 4px solid #d1d1e0;
}

#w .col-md-6 {
	padding-right: 0px;
}

#w p {
	color: #cec6d2;
	font-size: 16px;
}


/* Yellow Section - Picton */
#picton {
	background: #264d73;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #d9e6f2;
	border-top: 4px solid #9fbfdf;
}

#picton .col-md-6 {
	padding-left: 0px;
}

#picton p {
	color: #8cb3d9;
	font-size: 16px;
}

/* Blue Section - Curious */
#curious {
	background: #666666;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #00cc99;
	border-top: 4px solid #e67300;
}

#curious .col-md-6 {
	padding-right: 0px;
}

#curious p {
	color: #85adad;
	font-size: 16px;
}

/* Blue Section - Malibu */
#malibu {
	background: #00b36b;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #d9e6f2;
	border-top: 4px solid #d9d9d9;
}

#malibu .col-md-6 {
	padding-left: 0px;
}

#malibu p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Jelly */
#jelly {
	background: #2574A9;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	border-top: 4px solid #ffffff;
}

#jelly p {
	color: #e9e9e9;
	font-size: 16px;
}

#jelly h1 {
	font-size: 200px;
}

#jelly h3 {
	margin-top: 10px;
}

/* FOOTER */
#f {
	background: #535b60;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 4px solid #00cc99;
}

.form-group  select{
	border: 1px solid;
	height: 30px;
	background-color: #d1d1e0;
	color: #535b60;

}

.cap-area {
	color: #d1d1e0;
}

#f .form-group input {
	background-color: #d1d1e0;
	color: #535b60;
}



#f p {
	color: white;
}

#f ul {
	list-style: none;
	color: #d1d1e0;
}

.icons{
	list-style: none;
	display: inline;
	color: #d1d1e0;
	margin-right: 20px;
}

#f h1 {
	color: #d1d1e0;
}

#f h4 {
	font-weight: 400;
	text-align: center;
	font-size: 24px;
}

/* CREDIT */
#c {
	background: #1f1f2e;
	padding: 20px;
	border-top: 4px solid #6a6970;
}

#c p {
	color: ;
	font-size: 13px;
}

.btn-cstm {
  color: #fff;
  background-color: #e6b800;
  border-color: #cca300;
}
.btn-cstm:hover,
.btn-cstm:focus,
.btn-cstm:active,
.btn-cstm.active,
.open > .dropdown-toggle.btn-cstm {
  color: #fff;
  background-color: #e6b800;
  border-color: #cca300;
}
.btn-cstm:active,
.btn-cstm.active,
.open > .dropdown-toggle.btn-cstm {
  background-image: none;
}
.btn-cstm.disabled,
.btn-cstm[disabled],
fieldset[disabled] .btn-cstm,
.btn-cstm.disabled:hover,
.btn-cstm[disabled]:hover,
fieldset[disabled] .btn-cstm:hover,
.btn-cstm.disabled:focus,
.btn-cstm[disabled]:focus,
fieldset[disabled] .btn-cstm:focus,
.btn-cstm.disabled:active,
.btn-cstm[disabled]:active,
fieldset[disabled] .btn-cstm:active,
.btn-cstm.disabled.active,
.btn-cstm[disabled].active,
fieldset[disabled] .btn-cstm.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-cstm .badge {
  color: #5bc0de;
  background-color: #fff;
}